<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteRule ^(build|css|js|images|fonts|storage|vendor)/(.*)$ public/$1/$2 [L]
    RewriteRule ^(favicon\.ico|robots\.txt)$ public/$1 [L]

    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
